<header class='header'>
    <div class='wrapper'>
        <div class='logo-box'>
            <img src='/images/logo-no-background.png' alt='logo' class='logo' />
            <h4 class='logo-text'>
                NOS Manager
            </h4>
        </div>

        <nav class='nav'>
            <a href='/stored/videos' class='nav-item'>Videos</a>
        </nav>
    </div>
</header>